ROBOFLOW_API_KEY=your_roboflow_api_key
ROBOFLOW_WORKSPACE=su-eaelw
ROBOFLOW_PROJECT=lionfish-qs3tq
ROBOFLOW_MODEL_VERSION=49
ROBOFLOW_VIDEO_INFER_FPS=5
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_for_large_deployed_video_uploads
